@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #5f021f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Tema oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #14427b;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  @apply border-2 border-violet-950;
  
  @apply bg-blue-50;
  @apply sm:bg-blue-300;
  @apply md:bg-blue-400;
  @apply lg:bg-blue-600;
  @apply xl:bg-blue-900;


}
